.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f4f7fb;
}

.formContainer {
    background-color: rgb(44, 43, 43);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

.header h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.inputGroup {
    margin-bottom: 15px;
    
}

.inputGroup label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.inputGroup input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.inputGroup input:focus {
    outline: none;
    border-color: #5b9bd5;
}

.error {
    color: red;
    font-size: 12px;
}

.submitButton {
    background: linear-gradient(to right,rgb(101, 220, 234),rgb(9, 109, 134),rgb(101, 220, 234));
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    opacity: 0.8;
}

.loginLink {
    text-align: center;
    margin-top: 20px;
}

.loginLink a {
    color: #5b9bd5;
    text-decoration: none;
}

.loginLink a:hover {
    text-decoration: underline;
}
.inputField{
    background-color: transparent;
    color: black;
}
.inputField2{
    background-color: black;
    color:yellow;
}