/* Login.module.css */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
}

.formContainer {
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    transition: background-color 0.3s ease;
}

.header h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.inputGroup {
    margin-bottom: 15px;
}

.inputGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.inputGroup input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.inputGroup input:focus {
    border-color: #007BFF;
    outline: none;
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}

.submitButton {
    padding: 10px 20px;
    background: linear-gradient(to right,rgb(101, 220, 234),rgb(9, 109, 134),rgb(101, 220, 234));
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #0056b3;
}

.signupLink {
    text-align: center;
    margin-top: 15px;
}

.signupLink p {
    margin: 5px 0;
}

.signupLink a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.signupLink a:hover {
    text-decoration: underline;
}
